[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
basilica = "*"
blueprint = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
jsonify = "*"
numpy = "*"
python-dotenv = "*"
request = "*"
requests = "*"
scikit-learn = "*"
gunicorn = "*"
tweepy = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
