<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Homepage</title>
</head>
<body>

    <h1>Welcome to the Homepage</h1>

    <p>Twitoff App: by Bhavneesh</p>



    <form action="/predict" method="POST">
        <label>First Screen Name:</label>
        <input type="text" name="user1" placeholder="Enter User 1" value="User 1">
        <br>

        <label>Second Screen Name:</label>
        <input type="text" name="user2" placeholder="Enter User 2" value="User 2">
        <br>

        <label>Example Tweet Text:</label>
        <input type="text" name="tweet_text" placeholder="Enter text to predict">
        <br>

        <button>Predict!</button>
    </form>
</body>
</html>
